<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.reisspartners.pjakprogramowanie.appcompilation"
    android:installLocation="preferExternal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.reisspartners.pjakprogramowanie.appcompilation.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.reisspartners.pjakprogramowanie.appcompilation.MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
            <intent-filter>
                <action android:name="pl.reisspartners.pjakprogramowanie.appcompilation.MainMenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.reisspartners.pjakprogramowanie.appcompilation.UnitConverter"
            android:label="@string/title_activity_unit_converter" >
        </activity>
    </application>

</manifest>
